h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

table {
	width: 100%; 
}

a {
	color: #2a7fdd;
	border-bottom: 1px solid;
	border-bottom-color: rgba(42, 127, 221, 0.2);
	cursor: pointer;
}

a:hover {
	color: #e97901;
}

a:visited {
	color: #e97901;
}

.badge {
	display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
}
.badge.gold {
	 background-color: gold;
}
.badge.silver {
	 background-color: #C0C0C0;
}
.badge.bronze {
	 background-color: #cd7f32;
}

tr.trHeadPaddingBottom td {
	padding-bottom: 7px;
}
tr.trFirstPaddingTop td {
	padding-top: 11px;
}
tr.trNextPaddingTop td {
	padding-top: 4px;
	padding-bottom: 4px;
}
tr.tr22PaddingTop td {
	padding-top: 25px;
}

.mainTr:hover {
	background-color: #f1f2e6;
}

.mainTr:hover .mockTd {
	background-color: #fff;
}

table.text  {
  width:  100%; /* Ширина таблицы */
  border-spacing: 0; /* Расстояние между ячейками */
 }
 table.text td {
  width: 50%; /* Ширина ячеек */
  vertical-align: top; /* Выравнивание по верхнему краю */
 }
 td.rightcol { /* Правая ячейка */ 
  text-align: right; /* Выравнивание по правому краю */
}